[submodule "components/simple_pushota"]
	path = components/simple_pushota
	url = http://vcs.slashdirt.org/git/sw/ESP/simple_pushota.git
[submodule "components/simple_network"]
	path = components/simple_network
	url = http://vcs.slashdirt.org/git/sw/ESP/simple_network.git
